.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Navbar h1 a {
  font-size: 3rem;
}

.NavLinks {
  display: flex;
  gap: 4rem;
}

.ActiveNavLink {
  text-decoration: underline;
}
