.Tile {
  flex-grow: 1;
  min-width: 10px;
  min-height: 10px;
  max-width: 50px;
  max-height: 50px;
  aspect-ratio: 1;
  width: 100%;
}

.Tile.enabled {
  cursor: pointer;
}

.Tile.type0 {
  background-color: #56bc5a;
}

.Tile.type1 {
  background-color: #99370a;
}

.Tile.type2 {
  background-color: #b78370;
}

.Tile.type3 {
  background-color: #ff9800;
}

.Tile.type4 {
  background-color: #f44336;
}

.Tile.enabled.type0:hover {
  background-color: #45a045;
  transform: scale(1.05);
}

.Tile.enabled.type2:hover {
  background-color: #a76d5a;
  transform: scale(1.05);
}

.Tile.enabled.type3:hover {
  background-color: #e68a00;
  transform: scale(1.05);
}

.Tile.enabled.type4:hover {
  background-color: #d32f2f;
  transform: scale(1.05);
}
