.Tile {
  flex-grow: 1;
  min-width: 10px;
  min-height: 10px;
  max-width: 60px;
  max-height: 60px;
  aspect-ratio: 1;
  width: 100%;
}

.PathTile {
  border: 2px solid #ffdf00;
}

.Tile.enabled {
  cursor: pointer;
}

.Tile.enabled:hover {
  cursor: pointer;
}

.Tile.type0 {
  background-image: url('/assets/grass.png');
}

.Tile.type1 {
  background-image: url('/assets/wall.png');
}

.Tile.type2 {
  background-image: url('/assets/dirt.png');
}

.Tile.type3 {
  background: url('/assets/start.png') center center/cover no-repeat;
}

.Tile.type4 {
  background: url('/assets/finish.png') center center/cover no-repeat;
}

.Tile.start {
  background: url('/assets/start.png') center center/cover no-repeat;
}

.Tile.finish {
  background: url('/assets/finish.png') center center/cover no-repeat;
}

.Tile.enabled.type0:hover {
  transform: scale(1.1);
}

.Tile.enabled.type2:hover {
  transform: scale(1.1);
}

.Tile.enabled.type3:hover {
  transform: scale(1.1);
}

.Tile.enabled.type4:hover {
  transform: scale(1.1);
}
